<div class="user-settings__main">
    <main>
        <div class="user-settings__grid">
            <div>
                {{{btnBack}}}
            </div>
            <div>
                {{{profileInfoBlock}}}
                {{{btnChangePassword}}}
                {{{btnLogout}}}
            </div>
            <div>
                {{{formUserSettings}}}
            </div>
        </div>
    </main>
</div>