    <div class="chats-container__grid">
        <div class="chats__grid">
            <div class="chat-search">
                {{{labelProfile}}}
                <div class="input-search__field">
                    {{{inputSearch}}}
                </div>
                <hr>
            </div>


            <div class="chats-profiles__container">
                <div class="chat-profiles">
                    {{{chatMessageItem1}}}
                    {{{chatMessageItem2}}}
                    {{{chatMessageItem3}}}
                    {{{chatMessageItem4}}}
                    {{{chatMessageItem5}}}
                </div>
            </div>
        </div>

        <div class="messages-grid">
            <div class="companion-info__wrapper">
                {{{smallAvatar}}}
                <div class="profile-info__name messages">
                    <span>Любимый &#10084; </span>
                </div>
                {{{contextMenu}}}
            </div>
            <hr>
            <div class="messages-date">Сегодня</div>

            <div class="messages__container">
                {{{messageLeft}}}
                {{{messageRight}}}
            </div>

            <div class="footer">
                <hr>
                <div class="messages-field__container">

                    <p><a href="/"><img class="messages-clip__icon" src="clip.png" width="32px" height="32px"></img></a>
                    </p>
                    <div class="messages-field__input">{{{messagesField}}}</div>
                    <div class="messages-field__button">
                        {{{sendButton}}}
                    </div>

                </div>
            </div>
        </div>
    </div>
