<div class="chats-container__grid">
    {{#if isChatAddPopupShown}}
    {{{addChatPopup}}}
    {{/if}}
    <div class="chats__grid">
        <div class="chat-profile__label">
            {{{labelProfile}}}
            <br><br>
            
            <hr>
            
        </div>
        <div class="chat-adduser__label">{{{labelCreateChat}}}</div>
        <hr>

        <div class="chats-list__container">
            {{{chatsList}}}
        </div>
    </div>


    {{#if isSelectedChat}}
    <div class="messages-grid">
        <div class="companion-info__wrapper">
            {{{smallAvatar}}}
            <div class="profile-info__name">
                {{{chatTitle}}}
            </div>
            <div>
                {{{contextMenu}}}
                {{#if isChatSettingsPopupShown}}
                {{{chatSettingsMenu}}}
                {{/if}}
                {{#if isChatDeletePopupShown}}
                {{{deleteChatPopup}}}
                {{/if}}
                {{#if isUserAddPopupShown}}
                {{{addUserPopup}}}
                {{/if}}
            </div>
        </div>
        <hr>
        <div class="messages-date">{{{chatDate}}}</div>
            {{{messenger}}}
        <div class="footer">
            {{{messageInput}}}
            {{{sendButton}}}
        </div>
    </div>
    {{else}}
    <div class="chat-stub">Please select a chat..</div>
    {{/if}}
</div>
